node_modules/
dist/
coverage/
!coverage/lcov.info
# .cairn/  # Uncomment for stealth mode
.npmrc
packages/vscode-extension/cairn-extension-*.vsix
packages/vscode-extension/media/index.js.map
packages/vscode-extension/media/index.js
packages/vscode-extension/media/index.css.map
packages/vscode-extension/media/index.css
packages/vscode-extension/media/edit.js.map
packages/vscode-extension/media/edit.js
packages/vscode-extension/media/edit.css.map
packages/vscode-extension/media/edit.css
